@use "../../presets" as *;
@use "../../mixins" as *;

.header {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../../assets/img/img-header.png);
    
    background-position: 50% 50%;
    background-size: cover;

    display: grid;
    align-content: center;
    color: $color-light;
}
